extends layout.pug

block content
  include partials/header.pug
  main
    include partials/hero.pug
    include partials/selected-work.pug
    include partials/about.pug
    include partials/contact.pug
  include partials/footer.pug
  include partials/project-modal.pug
  include partials/scroll-to-top.pug
